$colorL0:					#8cc63f;
$colorL1:					#ffa600;
$colorL2:					#ff6600;
$colorL3:					#993904;
$colorL4:					#cc2113;
$colorL5:					#000;


$border-color:				#8f8f8f;
$colorW:					#fff;

strong{
	font-weight: 800;
}